 /* style for all properties */
 .container {
     margin-bottom: 100px;
 }
 /* style for all properties */


 /* Nav style start */
 .logo-img {
     width: 130px;
     margin-left: 25px;
 }
 
 .navbar-nav a  {
     margin-left:40px;
 } 
 
 
 
 .btn-primary{
    position: relative;
    top: 4px;
    right: 4px;
    padding: 8px 28px;
    background: #21B573;
    border: none;
    border-radius: 12px;
    color: white;
    
 }
 
 /* Nav style end */

 /* introduction style start */
.bg-color {
    background-color: #F0FFF0;
}

 .introduction {
     padding: 0 50px;
 }
 /* introduction style end */
 
 /* info style start */
.col-sm-3 img {
    width: 50px;
    padding-bottom: 17px;
    
}
#book {
    width: 42px;
}
.info {
    text-align: center;  
}
 /* info style end */
 
 /* course style start */
    
    .card-style {
        padding: 15px 15px;
        background: #FFFFFF;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
        border-radius: 18px;
    }
    .text-align {
        text-align: center;
    }

 /* course style end */

 
 
 
 










