 /* style for all properties */
 .container {
     margin-bottom: 100px;
 }
 /* style for all properties */


 /* Nav style start */
 .logo-img {
     width: 130px;
     margin-left: 25px;
 }
 
 .navbar-nav a  {
     margin-left:40px;
 } 
 
 
 
 .btn-primary{
    position: relative;
    top: 4px;
    right: 4px;
    padding: 8px 28px;
    background: #21B573;
    border: none;
    border-radius: 12px;
    color: white;
    
 }
 
 /* Nav style end */

 /* introduction style start */
 .introduction {
     padding: 0 50px;
 }
 /* introduction style end */
 
 

 
 
 
 










